<div class="image">
    <a href="/roll">
        <img src="{{dice1}}.png" alt="">
        <img src="{{dice2}}.png" alt="">
    </a>
    <h2>{{number}}</h2>
</div>
<div class="text">
    <a href="/">BACK</a>
</div>